# go chaincode vendor
**/vendor/

# network artifacts
**/build/
**/block/
**/channel-block/
**/crypto-config/

# backup
blockchain/deployfile/chaincode/
orderer0/deployfile/chaincode/
orderer1/deployfile/chaincode/
orderer2/deployfile/chaincode/
service/deployfile/chaincode/

*.tar.gz